!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name:'viewport' }/
    %title Dar Ayuda
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick-theme.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/main.css' }/
    %link{ rel: 'stylesheet', href:'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css' }/
    %link{:href => "assets/img/favicon.png", :rel => "shortcut icon"}/
    %link{ href:'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Poppins:100,200,300,400,500,600,700,800,900&display=swap',  rel:'stylesheet' }/
  %body
    %header.fixed-top.navbar-fixed-js      
      .pre-navbar
        .pre-navbar__flex
          %a.pre-navbar__btn{:href=>""} Empleados
          %a.pre-navbar__btn{:href=>""} Empresas
        %a.pre-navbar__btn{:href=>""} Regístrate
      %nav.navbar.navbar-expand-lg
        .main-brand__top
          .main-brand
            %a.navbar-brand{ :href => 'index.html' }
              %img#iso{ :src => 'assets/img/logo_2.png', :alt=>"Logo Ekored"}/ 
        .main-brand__fixed
          .main-brand
            %a.navbar-brand{ :href => 'index.html' }
              %img#iso{ :src => 'assets/img/logo_2.png', :alt=>"Logo Ekored" }/ 
        .main-brand.brand-responsive
          %a.navbar-brand{ :href => 'index.html' }
            %img#iso{ :src => 'assets/img/logo.png', :alt=>"Logo Ekored"}/ 
          %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{ 'data-toggle' => 'offcanvas', :type => 'button' }
            %span.hamburger-box
            %span.hamburger-inner
        .navbar-collapse.offcanvas-collapse
          %ul.navbar-nav.mr-autos
            %li.nav-item
              %a.nav-link.nav-link-p{:href => 'index.html',:data-toggle => 'offcanvas' } 
                Inicio
            %li.nav-item
              %a.nav-link.nav-link-p{:href => 'nuestra-empresa.html',:data-toggle => 'offcanvas' } 
                Nuestra empresa
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Portafolio
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "#"} Action
                %a.dropdown-item{:href => "#"} Another action
                %a.dropdown-item{:href => "#"} Something else here
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                De su interés
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "de-su-interes-1.html"} Seguridad social 
                %a.dropdown-item{:href => "de-su-interes-2.html"} Salud ocupacional   
                %a.dropdown-item{:href => "de-su-interes-3.html"} Bienestar y desarrollo
            %li.nav-item
              %a.nav-link.nav-link-p{:data-toggle => 'offcanvas', :href => "buscador-de-empleo.html", :role => "button"}
                Buscador de empleo
            %li.nav-item
              %a.nav-link.nav-link-p{:data-toggle => 'offcanvas', :href => "", :role => "button"}
                Blog
            %li.nav-item
              %a.nav-link.nav-link-p{:href => 'contacto.html',:data-toggle => 'offcanvas' } 
                Contacto
   
    %section.banner-small
      .main-banner__rrss
        %a{:href=>'', :target=>"_blank"} 
          %img{:src=>"assets/img/fb_2.png"}/    
        %a{:href=>'', :target=>"_blank"}
          %img{:src=>"assets/img/ig_2.png"}/ 
      %img.banner-small__img{:src=>"assets/img/contacto/image.png" }/   
      .banner-small__text
        %h2.banner-small__title
          Contacto
    %section.contact-info
      %img.contact-info__dotted{:src=>"assets/img/dotted-box_2.png" }/
      %img.contact-info__dotted.contact-info__dotted--bottom{:src=>"assets/img/dotted-box_2.png" }/
      .padding-top-bottom.padding-right-left
        .container-grid 
          .contact-info__form
            %h2.general-title.general-title--start
              Escríbenos
              %span 
            %form
              %label
                Nombre*
                %input{:type=>"text"}/
              %label
                Correo*
                %input{:type=>"text"}/
              %label
                Teléfono*
                %input{:type=>"text"}/
              %label
                Mensaje
                %textarea
              .d-flex.justify-content-center
                %a.general-btn__green{:href=>''} Enviar
          .contact-info__rrss
            %h2.general-title.general-title--start
              Contáctanos
              %span
            %ul.contact-info__list
              %li
                %img{:src=>"assets/img/place.png"}/ 
                %a{:href=>""}
                  %span
                    Dirección
                  Carrera 67 # 78-157
              %li
                %img{:src=>"assets/img/phone-call.png"}/ 
                %a{:href=>""}
                  %span
                    Teléfono
                  57 (4) 444 56 78
              %li
                %img{:src=>"assets/img/envelope.png"}/ 
                %a{:href=>""}
                  %span
                    Correo
                  info@darayuda.com
            .main-footer__rrss
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/fb.png" }/
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/instagram.png" }/
    %a#js_up.boton-subir.slider-top{:href => "#"}
    %footer.main-footer
      .padding-right-left.padding-top-bottom
        .container-grid
          .main-footer__item
            .main-footer__logo
              %img{:src=>"assets/img/logo.png" }/
            %p.main-footer__description
              Lorem ipsum dolor sit amet consectetur adipiscing elit donec facilisi magna natoque, per.
          .main-footer__item
            %h2.main-footer__title
              Company 
            %ul.site-map
              %li
                %a{:href=>""}
                  Inicio
              %li
                %a{:href=>"nuestra-empresa.html"}
                  Nuestra empresa
              %li
                %a{:href=>""}
                  Portafolio 
              %li
                %a{:href=>""}
                  De su interés
              %li
                %a{:href=>"buscador-de-empleo.html"}
                  Buscador de empleo 
              %li
                %a{:href=>""}
                  Blog 
              %li
                %a{:href=>"contacto.html"}
                  Contacto 
          .main-footer__item
            %h2.main-footer__title
              Datos de Contacto
            %ul.list-contact
              %li
                %a{:href=>""}
                  %img{:src=>"assets/img/place.png" }/
                  Carrera 51b #78-40
              %li
                %a{:href=>"mailto:"}
                  %img{:src=>"assets/img/envelope.png" }/
                  Email: info@ekored.co
              %li
                %a{:href=>"tel:5744443569"}
                  %img{:src=>"assets/img/phone-call.png" }/
                  Phone: 57 (4) 444 35 69
          .main-footer__item
            %h2.main-footer__title
              Nuestras Redes
            .main-footer__rrss
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/fb.png" }/
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/instagram.png" }/
    %a#js_up.boton-subir.slider-top{:href => "#"}
      %img{:src=>"assets/img/button@3x.png", :alt=>"icon chat"}
    .main-powered
      .main-powered__flex
        %p Copyright © 2020 
        %a{:href=>"https://sigma.la/"} Sigma Studios 
        %p - Sitios Web
    .main-whatsapp
      %a{ :href=>" "}
        %img{:src=>"assets/img/whatsapp@3x.png", :alt=>"icon chat"}

    %script{src: 'assets/js/jquery.min.js' }
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    %script{src: 'assets/js/slick.min.js' }
    %script{src: 'assets/js/setting-slick.js' }
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js' }
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js' }
    %script{src: 'assets/js/main.js' }

