!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name:'viewport' }/
    %title Dar Ayuda
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick-theme.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/main.css' }/
    %link{ rel: 'stylesheet', href:'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css' }/
    %link{:href => "assets/img/favicon.png", :rel => "shortcut icon"}/
    %link{ href:'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Poppins:100,200,300,400,500,600,700,800,900&display=swap',  rel:'stylesheet' }/
  %body
    %header.fixed-top.navbar-fixed-js      
      .pre-navbar
        .pre-navbar__flex
          %a.pre-navbar__btn{:href=>""} Empleados
          %a.pre-navbar__btn{:href=>""} Empresas
        %a.pre-navbar__btn{:href=>""} Regístrate
      %nav.navbar.navbar-expand-lg
        .main-brand__top
          .main-brand
            %a.navbar-brand{ :href => 'index.html' }
              %img#iso{ :src => 'assets/img/logo_2.png', :alt=>"Logo Ekored"}/ 
        .main-brand__fixed
          .main-brand
            %a.navbar-brand{ :href => 'index.html' }
              %img#iso{ :src => 'assets/img/logo_2.png', :alt=>"Logo Ekored" }/ 
        .main-brand.brand-responsive
          %a.navbar-brand{ :href => 'index.html' }
            %img#iso{ :src => 'assets/img/logo.png', :alt=>"Logo Ekored"}/ 
          %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{ 'data-toggle' => 'offcanvas', :type => 'button' }
            %span.hamburger-box
            %span.hamburger-inner
        .navbar-collapse.offcanvas-collapse
          %ul.navbar-nav.mr-autos
            %li.nav-item
              %a.nav-link.nav-link-p{:href => 'index.html',:data-toggle => 'offcanvas' } 
                Inicio
            %li.nav-item
              %a.nav-link.nav-link-p{:href => 'nuestra-empresa.html',:data-toggle => 'offcanvas' } 
                Nuestra empresa
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Portafolio
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "portafolio-de-servicios-1.html"} Proceso de selección
                %a.dropdown-item{:href => "portafolio-de-servicios-2.html"} Proceso de contratación
                %a.dropdown-item{:href => "portafolio-de-servicios-3.html"} Trabajador esencia del servicio
                %a.dropdown-item{:href => "portafolio-de-servicios-4.html"} Somos sus aliados estratégicos 
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                De su interés
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "de-su-interes-1.html"} Seguridad social
                %a.dropdown-item{:href => "de-su-interes-2.html"} Salud ocupacional   
                %a.dropdown-item{:href => "de-su-interes-3.html"} Bienestar y desarrollo
            %li.nav-item
              %a.nav-link.nav-link-p{:data-toggle => 'offcanvas', :href => "buscador-de-empleo.html", :role => "button"}
                Buscador de empleo
            %li.nav-item
              %a.nav-link.nav-link-p{:data-toggle => 'offcanvas', :href => "", :role => "button"}
                Blog
            %li.nav-item
              %a.nav-link.nav-link-p{:href => 'contacto.html',:data-toggle => 'offcanvas' } 
                Contacto
   
    %section.main-banner
      .main-banner__rrss
        %a{:href=>'', :target=>"_blank"}
          %img{:src=>"assets/img/fb_2.png"}/    
        %a{:href=>'', :target=>"_blank"}
          %img{:src=>"assets/img/ig_2.png"}/     
      .main-banner__content
        .main-banner__item
          .main-banner__text.wow.animated.fadeIn{:style=>"visibility: visible; animation-delay: .3s  ;"}
            %h2.main-banner__title
              Encuentra el empleo que siempre has soñado
            %p.main-banner__subtitle 
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
            %a.main-general__button{:href=>''}¡Quiero saber!
          .main-banner__img
            %img{:src=>"assets/img/image_6.png", :alt=>"Imagen Banner"}/    
        .main-banner__item
          .main-banner__text.wow.animated.fadeIn{:style=>"visibility: visible; animation-delay: .3s  ;"}
            %h2.main-banner__title
              Encuentra el empleo que siempre has soñado
            %p.main-banner__subtitle 
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
            %a.main-general__button{:href=>''}¡Quiero saber!
          .main-banner__img
            %img{:src=>"assets/img/image_6.png", :alt=>"Imagen Banner"}/   
    %section.main-about
      .padding-top-bottom.padding-right-left
        %img.main-about__dotted{:src=>"assets/img/dotted-box_2.png" }/
        .container-grid
          .main-about__img
            %img{:src=>"assets/img/image_5.png" }/
          .main-about__text
            .general-titlexs
              Bienvenidos a
            %h2.general-title.general-title--start
              Quienes somos
              %span 
            %p.general-description
              No tienes que reinventar las ruedas, ¿verdad? Cuando confía la tarea de lanzar una estrategia para su última campaña de marketing, obtendrá muchos módulos probados que se han entregado consistentemente en diferentes industrias.
            %p.main-about__description
              No tienes que reinventar las ruedas, ¿verdad? Cuando confía la tarea de lanzar una estrategia para su última campaña de marketing, obtendrá muchos módulos probados que se han entregado consistentemente en diferentes industrias.
            %a.general-btn__green{:href=>''} Leer más
    %section.main-portfolio
      .padding-right-left.padding-top-bottom
        .general-title
          Nuestro portafolio
          %span
        %p.general-description.general-description--center
          No tienes que reinventar las ruedas, ¿verdad? Cuando confía la tarea de lanzar una estrategia para su última campaña de 
          %br/ 
          marketing, obtendrá muchos módulos probados que se han entregado consistentemente en diferentes industrias.
        .main-services__flex
          .container-grid
            %a.main-portfolio__item{:href=>"portafolio-de-servicios-1.html"}
              .main-portfolio__img
                %img{:src=>"assets/img/hand.png" }/
              .main-portfolio__title 
                Proceso de selección
            %a.main-portfolio__item{:href=>"portafolio-de-servicios-2.html"}
              .main-portfolio__img
                %img{:src=>"assets/img/deal.png" }/
              .main-portfolio__title 
                Proceso de contratación
            %a.main-portfolio__item{:href=>"portafolio-de-servicios-3.html"}
              .main-portfolio__img
                %img{:src=>"assets/img/support.png" }/
              .main-portfolio__title 
                Trabajador esencia del servicio
            %a.main-portfolio__item{:href=>"portafolio-de-servicios-4.html"}
              .main-portfolio__img
                %img{:src=>"assets/img/strategy.png" }/
              .main-portfolio__title 
                Somos sus aliados estratégicos 
    %section.main-register
      .container-grid
        .main-register__img
          %img{:src=>"assets/img/image_2.png" }/
        .main-register__text
          %img.main-register__dotted{:src=>"assets/img/dotted-box_3.png" }/
          %img.main-register__dotted.main-register__dotted--bottom{:src=>"assets/img/dotted-box_3.png" }/
          %h2.main-register__title
            Ingresa tu 
            %br/
            %span
              hoja de vida
          %form
            %label
              Nombre*
              %input{:type=>"text"}/
            %label
              Apellido*
              %input{:type=>"text"}/
            %label
              Correo*
              %input{:type=>"text"}/
            %label
              Puesto de trabajo deseado*
              %input{:type=>"text"}/
            %label
              Adjuntar hoja de vida (pdf)*
              %input{:type=>"file"}/
    %section.main-search
      %img.main-search__bg{:src=>"assets/img/image.png" }/
      %img.main-search__dotted.main-search__dotted-left{:src=>"assets/img/dotted-box-copy.png" }/
      %img.main-search__dotted{:src=>"assets/img/dotted-box@3x.png" }/
      .padding-top-bottom.padding-right-left
        %h2 Buscas empleo
        %h2 encuéntralo aquí
        %p.general-description.general-description--center.general-description--white
          Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
        .d-flex.justify-content-center
          %a.main-general__button{:href=>''}Ingresar
    %section.main-services
      .padding-right-left.padding-top-bottom
        .general-title
          Servicios en Línea
          %span
        %p.general-description.general-description--center
          No tienes que reinventar las ruedas, ¿verdad? Cuando confía la tarea de lanzar una estrategia para su última campaña de 
          %br/ 
          marketing, obtendrá muchos módulos probados que se han entregado consistentemente en diferentes industrias.
        .main-services__flex
          .container-grid
            %img.main-services__bg{:src=>"assets/img/images.png" }/
            %a.main-portfolio__item{:href=>""}
              .main-portfolio__img
                %img{:src=>"assets/img/money.png" }/
              .main-portfolio__title 
                Colillas de pago
            %a.main-portfolio__item{:href=>""}
              .main-portfolio__img
                %img{:src=>"assets/img/portable.png" }/
              .main-portfolio__title 
                Carta laboral
            %a.main-portfolio__item{:href=>""}
              .main-portfolio__img
                %img{:src=>"assets/img/paper.png" }/
              .main-portfolio__title 
                Certificado de ingresos
            %a.main-portfolio__item{:href=>""}
              .main-portfolio__img
                %img{:src=>"assets/img/security.png" }/
              .main-portfolio__title 
                Seguridad social 
            %a.main-portfolio__item{:href=>""}
              .main-portfolio__img
                %img{:src=>"assets/img/policy.png" }/
              .main-portfolio__title 
                Certificado de pago de cesantías 
            %a.main-portfolio__item{:href=>""}
              .main-portfolio__img
                %img{:src=>"assets/img/strategy.png" }/
              .main-portfolio__title 
                Integración ERP
    

    %footer.main-footer
      .padding-right-left.padding-top-bottom
        .container-grid
          .main-footer__item
            .main-footer__logo
              %img{:src=>"assets/img/logo.png" }/
            %p.main-footer__description
              Lorem ipsum dolor sit amet consectetur adipiscing elit donec facilisi magna natoque, per.
          .main-footer__item
            %h2.main-footer__title
              Company 
            %ul.site-map
              %li
                %a{:href=>""}
                  Inicio
              %li
                %a{:href=>"nuestra-empresa.html"}
                  Nuestra empresa
              %li
                %a{:href=>""}
                  Portafolio 
              %li
                %a{:href=>""}
                  De su interés
              %li
                %a{:href=>"buscador-de-empleo.html"}
                  Buscador de empleo 
              %li
                %a{:href=>""}
                  Blog 
              %li
                %a{:href=>"contacto.html"}
                  Contacto 
          .main-footer__item
            %h2.main-footer__title
              Datos de Contacto
            %ul.list-contact
              %li
                %a{:href=>""}
                  %img{:src=>"assets/img/place.png" }/
                  Carrera 51b #78-40
              %li
                %a{:href=>"mailto:"}
                  %img{:src=>"assets/img/envelope.png" }/
                  Email: info@ekored.co
              %li
                %a{:href=>"tel:5744443569"}
                  %img{:src=>"assets/img/phone-call.png" }/
                  Phone: 57 (4) 444 35 69
          .main-footer__item
            %h2.main-footer__title
              Nuestras Redes
            .main-footer__rrss
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/fb.png" }/
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/instagram.png" }/


    
    %a#js_up.boton-subir.slider-top{:href => "#"}
      %img{:src=>"assets/img/button@3x.png", :alt=>"icon chat"}


    .main-powered
      .main-powered__flex
        %p Copyright © 2020 
        %a{:href=>"https://sigma.la/"} Sigma Studios 
        %p - Sitios Web
    .main-whatsapp
      %a{ :href=>" "}
        %img{:src=>"assets/img/whatsapp@3x.png", :alt=>"icon chat"}

    %script{src: 'assets/js/jquery.min.js' }
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    %script{src: 'assets/js/slick.min.js' }
    %script{src: 'assets/js/setting-slick.js' }
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js' }
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js' }
    %script{src: 'assets/js/main.js' }

