!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name:'viewport' }/
    %title Dar Ayuda
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick-theme.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/main.css' }/
    %link{ rel: 'stylesheet', href:'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css' }/
    %link{:href => "assets/img/favicon.png", :rel => "shortcut icon"}/
    %link{ href:'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Poppins:100,200,300,400,500,600,700,800,900&display=swap',  rel:'stylesheet' }/
  %body
    %header.fixed-top.navbar-fixed-js      
      .pre-navbar
        .pre-navbar__flex
          %a.pre-navbar__btn{:href=>""} Empleados
          %a.pre-navbar__btn{:href=>""} Empresas
        %a.pre-navbar__btn{:href=>""} Regístrate
      %nav.navbar.navbar-expand-lg
        .main-brand__top
          .main-brand
            %a.navbar-brand{ :href => 'index.html' }
              %img#iso{ :src => 'assets/img/logo_2.png', :alt=>"Logo Ekored"}/ 
        .main-brand__fixed
          .main-brand
            %a.navbar-brand{ :href => 'index.html' }
              %img#iso{ :src => 'assets/img/logo_2.png', :alt=>"Logo Ekored" }/ 
        .main-brand.brand-responsive
          %a.navbar-brand{ :href => 'index.html' }
            %img#iso{ :src => 'assets/img/logo.png', :alt=>"Logo Ekored"}/ 
          %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{ 'data-toggle' => 'offcanvas', :type => 'button' }
            %span.hamburger-box
            %span.hamburger-inner
        .navbar-collapse.offcanvas-collapse
          %ul.navbar-nav.mr-autos
            %li.nav-item
              %a.nav-link.nav-link-p{:href => 'index.html',:data-toggle => 'offcanvas' } 
                Inicio
            %li.nav-item
              %a.nav-link.nav-link-p{:href => 'nuestra-empresa.html',:data-toggle => 'offcanvas' } 
                Nuestra empresa
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Portafolio
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "#"} Action
                %a.dropdown-item{:href => "#"} Another action
                %a.dropdown-item{:href => "#"} Something else here
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href=> "#", :role => "button"}
                De su interés
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "de-su-interes-1.html"} Seguridad social
                %a.dropdown-item{:href => "de-su-interes-2.html"} Salud ocupacional   
                %a.dropdown-item{:href => "de-su-interes-3.html"} Bienestar y desarrollo
            %li.nav-item
              %a.nav-link.nav-link-p{:data-toggle => 'offcanvas', :href => "buscador-de-empleo.html", :role => "button"}
                Buscador de empleo
            %li.nav-item
              %a.nav-link.nav-link-p{:data-toggle => 'offcanvas', :href => "", :role => "button"}
                Blog
            %li.nav-item
              %a.nav-link.nav-link-p{:href => '',:data-toggle => 'offcanvas' } 
                Contacto
   
    %section.banner-small
      .main-banner__rrss
        %a{:href=>'', :target=>"_blank"} 
          %img{:src=>"assets/img/fb_2.png"}/    
        %a{:href=>'', :target=>"_blank"}
          %img{:src=>"assets/img/ig_2.png"}/ 
      %img.banner-small__img{:src=>"assets/img/nuestra-empresa/image_4.png" }/
      .banner-small__text
        %h2.banner-small__title
          Nuestra empresa
    %section.about-history
      %img.about-history__dotted{:src=>"assets/img/dotted-box_2.png" }/
      .padding-top-bottom.padding-right-left
        .container-grid
          .about-history__text
            .general-titlexs
              Lorem ipsum
            %h2.general-title.general-title--start
              Historia
              %span 
            %p.general-description
              El 12 de marzo de 1979 fue fundada DAR AYUDA TEMPORAL S.A, con sede principal en la ciudad de Medellín y en la actualidad con cubrimiento a nivel nacional en las principales ciudades del País. Desde nuestro inicio hemos cumplido con todas las regulaciones de Ley pertinentes al servicio Temporal, permaneciendo en el medio siempre con autorización Plena del Ministerio de la Protección Social.
              
          .about-history__img
            %img{:src=>"assets/img/nuestra-empresa/image_3.png" }/
    %section.about-direction
      .padding-top-bottom.padding-right-left
        .general-titlexs.general-titlexs--center
          Lorem ipsum
        %h2.general-title 
          Direccionamiento estratégico
          %span         
        .main-services__flex
          .container-grid
            .about-direction__content
              %a.main-portfolio__item{:href=>""}
                .main-portfolio__img
                  %img{:src=>"assets/img/nuestra-empresa/shape.png" }/
                .main-portfolio__title 
                  Misión
              %p.general-description.general-description--center
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
            .about-direction__content
              %a.main-portfolio__item{:href=>""}
                .main-portfolio__img
                  %img{:src=>"assets/img/nuestra-empresa/vision-1.png" }/
                .main-portfolio__title 
                  Visión
              %p.general-description.general-description--center
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
            .about-direction__content 
              %a.main-portfolio__item{:href=>""}
                .main-portfolio__img
                  %img{:src=>"assets/img/nuestra-empresa/diamond-1.png" }/
                .main-portfolio__title 
                  Valores
              %p.general-description.general-description--center
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
    
    %section.about-politics
      %img.about-politics__dotted{:src=>"assets/img/dotted-box_2.png" }/
      .padding-top-bottom.padding-right-left
        .container-grid
          .about-politics__text    
            %h2.general-title.general-title--start
              Política  integral
              %span 
            %p.general-description
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
            %p.general-description
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500. 
            %ul.about-politics__list
              %li Lorem Ipsum es simplemente el texto de relleno de las 
              %li Lorem Ipsum es simplemente el texto de
              %li Lorem Ipsum es simplemente el texto de relleno de 
              %li Lorem Ipsum es simplemente el texto de relleno de las imprentas
              %li Lorem Ipsum es simplemente el texto de relleno de las 
            %a.general-btn__green{:href=>''} Leer más
          
          .about-politics__img    
            %img{:src=>"assets/img/nuestra-empresa/image_2.png" }/
    %section.about-editorial
      .padding-top-bottom.padding-right-left
        .general-titlexs.general-titlexs--center
          Lorem ipsum
        %h2.general-title 
          Editorial de gerencia
          %span     
        %p.general-description.general-description--center
          Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno
          %br/
          estándar de las industrias desde el año 1500.Lorem Ipsum es simplemente el texto de relleno.  
        .about-editorial__carousel
          .about-editorial__item
            %a.about-editorial__img{:href=>""}
              %img{:src=>"assets/img/nuestra-empresa/post.png" }/
            .about-editorial__body
              %h2.about-editorial__title
                Lorem ipsum 
              %p.general-description 
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno 
                estándar de las industrias desde el año 1500.Lorem Ipsum es simplemente.
              .about-editorial__meta
                %a{:href=>""}
                  %img{:src=>"assets/img/nuestra-empresa/user.png" }/
                  Lorem
                %a{:href=>""}
                  %img{:src=>"assets/img/nuestra-empresa/heart.png" }/ 
                  Lorem 
                %a{:href=>""}
                  %img{:src=>"assets/img/nuestra-empresa/chat.png" }/
                  Lorem Ipsum
          .about-editorial__item
            %a.about-editorial__img{:href=>""}
              %img{:src=>"assets/img/nuestra-empresa/post.png" }/
            .about-editorial__body
              %h2.about-editorial__title
                Lorem ipsum 
              %p.general-description 
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.Lorem Ipsum es simplemente.
              .about-editorial__meta
                %a{:href=>""}
                  %img{:src=>"assets/img/nuestra-empresa/user.png" }/
                  Lorem
                %a{:href=>""}
                  %img{:src=>"assets/img/nuestra-empresa/heart.png" }/ 
                  Lorem
                %a{:href=>""}
                  %img{:src=>"assets/img/nuestra-empresa/chat.png" }/
                  Lorem Ipsum
          .about-editorial__item
            %a.about-editorial__img{:href=>""}
              %img{:src=>"assets/img/nuestra-empresa/post.png" }/
            .about-editorial__body
              %h2.about-editorial__title
                Lorem ipsum 
              %p.general-description 
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.Lorem Ipsum es simplemente.
              .about-editorial__meta
                %a{:href=>""}
                  %img{:src=>"assets/img/nuestra-empresa/user.png" }/
                  Lorem
                %a{:href=>""}
                  %img{:src=>"assets/img/nuestra-empresa/heart.png" }/ 
                  Lorem
                %a{:href=>""}
                  %img{:src=>"assets/img/nuestra-empresa/chat.png" }/
                  Lorem Ipsum
          .about-editorial__item
            %a.about-editorial__img{:href=>""}
              %img{:src=>"assets/img/nuestra-empresa/post.png" }/
            .about-editorial__body
              %h2.about-editorial__title
                Lorem ipsum 
              %p.general-description 
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.Lorem Ipsum es simplemente.
              .about-editorial__meta
                %a{:href=>""}
                  %img{:src=>"assets/img/nuestra-empresa/user.png" }/
                  Lorem
                %a{:href=>""}
                  %img{:src=>"assets/img/nuestra-empresa/heart.png" }/ 
                  Lorem
                %a{:href=>""}
                  %img{:src=>"assets/img/nuestra-empresa/chat.png" }/
                  Lorem Ipsum
    %section.about-news
      %img.about-news__dotted{:src=>"assets/img/dotted-box@3x.png" }/
      %img.about-news__dotted.about-news__dotted--right{:src=>"assets/img/dotted-box@3x.png" }/
      %img.about-news__img{:src=>"assets/img/image.png" }/
      .about-news__flex
        %h2 
          Entérate de las
          %span
            últimas 
          novedades
        %a.main-general__button{:href=>''} ¡Quiero saber!
    %footer.main-footer
      .padding-right-left.padding-top-bottom
        .container-grid
          .main-footer__item
            .main-footer__logo
              %img{:src=>"assets/img/logo.png" }/
            %p.main-footer__description
              Lorem ipsum dolor sit amet consectetur adipiscing elit donec facilisi magna natoque, per.
          .main-footer__item
            %h2.main-footer__title
              Company 
            %ul.site-map
              %li
                %a{:href=>""}
                  Inicio
              %li
                %a{:href=>"nuestra-empresa.html"}
                  Nuestra empresa
              %li
                %a{:href=>""}
                  Portafolio 
              %li
                %a{:href=>""}
                  De su interés
              %li
                %a{:href=>""}
                  Buscador de empleo 
              %li
                %a{:href=>""}
                  Blog 
              %li
                %a{:href=>""}
                  Contacto 
          .main-footer__item
            %h2.main-footer__title
              Datos de Contacto
            %ul.list-contact
              %li
                %a{:href=>""}
                  %img{:src=>"assets/img/place.png" }/
                  Carrera 51b #78-40
              %li
                %a{:href=>"mailto:"}
                  %img{:src=>"assets/img/envelope.png" }/
                  Email: info@ekored.co
              %li
                %a{:href=>"tel:5744443569"}
                  %img{:src=>"assets/img/phone-call.png" }/
                  Phone: 57 (4) 444 35 69
          .main-footer__item
            %h2.main-footer__title
              Nuestras Redes
            .main-footer__rrss
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/fb.png" }/
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/instagram.png" }/


    
    %a#js_up.boton-subir.slider-top{:href => "#"}
      %img{:src=>"assets/img/button@3x.png", :alt=>"icon chat"}


    .main-powered
      .main-powered__flex
        %p Copyright © 2020 
        %a{:href=>"https://sigma.la/"} Sigma Studios 
        %p - Sitios Web
    .main-whatsapp
      %a{ :href=>" "}
        %img{:src=>"assets/img/whatsapp@3x.png", :alt=>"icon chat"}

    %script{src: 'assets/js/jquery.min.js' }
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    %script{src: 'assets/js/slick.min.js' }
    %script{src: 'assets/js/setting-slick.js' }
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js' }
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js' }
    %script{src: 'assets/js/main.js' }

